.title{
  color: #efda5d;
  text-shadow: black 1px 1px 2px,
                black -1px -1px 2px;
  font-weight: bold;
  margin: auto;
  }
.selfie{
  width: 13%;
  border-radius: 15px;
  filter: sepia(0.2);
  float: left;
  margin-right: 2%;
}
.firstLetter{
  color: #efda5d;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: black 0 0 2px;
  margin-right: 2px;
}
.sources{
  color: grey;
  font-size: 0.8rem;
  text-align: justify;
  margin: 2%;
}
.presentation{
  text-align: justify;
}