.carouselImage{
    font-size: 2.5rem;
    text-shadow: white 0 0 5px;
    color: rgb(19, 19, 19);
}
.containerAll{
    height: 100%;
    border: solid 1px gainsboro;
    border-radius: 10px;
    background-color: gainsboro;
    margin: 2%;
    overflow: hidden;
}
.firstLetter{
    font-size: 1.8rem;
    margin-right: 2px;
    font-weight: bold;
    color: #EFDA5D;
    text-shadow: black 0 0 3px ;

}
.services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0%;
    margin: 0%;
}
.title{
    font-size: 2.5rem;
}
.text{
    text-align: justify;
}
.card{
    padding: 20px;
    background-color: white;
    border: solid 0;
    border-radius: 10px;
    box-shadow: #EFDA5D 0 0 5px, black 1px 1px 5px ;
    margin: 4%;
    width: 100%;
    height: 150px;
    overflow: hidden;
    text-align: justify;
    z-index: 2;
}
.card:hover{
    width: 100%;
    color: grey;
    box-shadow: #efd95dd7 0 0 0 .4em;
    transition: 0.7s;
    overflow: auto;
}