
@media (max-width: 992px) {
  .navlink{
    background-color: white;
    width: 200px;
    padding-left: 20px;
  }
}


#navBar{
  position: fixed;
  display: flex;
  justify-content: flex-end;
  padding-left: 10px;
  width: 98%;
  background-color: transparent;
  height: 10%;
  font-size: large;
  z-index: 999;

}
#navLogo{
  // font-family: 'Mrs Sheppards', cursive;
  font-family: 'Arizonia', cursive;
  font-size: xx-large;
}

