@mixin aboutMobile {
  @media screen and (max-width: 360px) {
      #container {
        width: 100% !important;
      }
    .globalText {
      width: 100% !important;
      margin: 0 !important;
    }
    .svg {
      display: none !important;
    }
    #presentationText {
      width: 100vw !important;
      margin: 0 !important;
      padding: 0 !important;
      position: absolute !important;
    }
  }
}