@mixin responsiveMobile {
  @media screen and (max-width: 600px) {
    .navLink {
      display: flex !important;
      flex-direction: column !important;
      transform: translateY(-100%) !important;
      padding: 20px !important;
      list-style: none !important;
      font-family: "Shrikhand", cursive;
    }
    .button {
        display: block !important;
    }
  }
}