@mixin responsiveMobile {
  @media screen and (max-width: 600px) {
    .navLink {
      display: flex !important;
      flex-direction: column !important;
      padding: 20px !important;
      list-style: none !important;
      font-family: "Shrikhand", cursive;
      opacity: 0 !important;
    }
    .navLinkShow {
      list-style: none !important;
      position: fixed;
      top: -150px;
      left: 30px;
      border: solid black 1px !important;
      background-color: #fff !important;
      padding: 2% !important;
      border-radius: 5px !important;
      font-family: "Shrikhand", cursive;
    }
    .button {
        display: block !important;
    }
    .buttonShow {
      display: none !important;
    }
    .closedShow {
      display: block !important;

      position: fixed !important;
      top: 30px !important;
      right: 30px !important;
      padding: 5px !important;
      border-radius: 25% !important;
      background-color: rgba(221, 0, 0, 0.68);
      font-weight: bold !important;
      z-index: 999999 !important;
    }
    li {
      margin-bottom: 5px !important;
      margin-right: 5px !important;
    }
  }
}