
.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 4.2rem;
  background: #CFB839;
  width: 100%;
}

#links {
  width: 100%;
  display: flex;
  cursor: pointer;
  color: #fff;
  text-shadow: black 1px 1px 2px;
}
.logo {
  height: 3rem;
  margin: auto;
}
